@font-face {
  font-family: 'Geomanist';
  src: local('Geomanist'),
    url('./assets/fonts/geomanist-regular-webfont.ttf') format('truetype');
  font-weight: bold;
}

* {
  font-family: 'Geomanist';
}
