@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-img-mini {
  position: absolute;
  bottom: -50px;
  right: -150px;
  z-index: 1;
}

.hero-img-desc {
  position: absolute;
  top: 50px;
  left: -50px;
  z-index: 2;
}

.section-img-mini {
  position: absolute;
  top: -100px;
  left: 50px;
  z-index: 2;
}

.circle-right-img {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: -1;
}

.circle-left-img {
  position: absolute;
  left: 0;
  z-index: -1;
}

.circle-center-img {
  position: absolute;
  left: 100px;
  z-index: -1;
  height: 50%;
}

.background-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
